<nav class="navbar navbar-default">
       <div class="container">
           <div class="navbar-header">
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                   <span class="sr-only">Toggle navigation</span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
               </button>
                   <a class="navbar-brand" href="/">Home</a>
                   <a class="navbar-brand" href="/Martin">Martin</a>
                   <a class="navbar-brand" href="/Taylor">Taylor</a>
                   <a class="navbar-brand" href="/Washburn">Washburn</a>
           </div>
   </nav>
