<fieldset>
    <legend>New Guitar</legend>
    <!-- TITLE -->
    <p>
        <label for='Guitar-title'>Guitar Make/Model: </label><br>
        <input id='Guitar-title' type='text' name='title' />
    </p>

    <!-- DESCRIPTION -->
    <p>
        <label for='description'>Price of Guitar: </label><br>
        <input id='description' type='text' name='description' />
    </p>
    <!-- Image URL -->
    <div class='form-group'>
        <label for='guitar-jpgs'>JPGS</label><br/>
        <p class='text-muted'>Add jpgs in the form of 'your_picture.jpg/embed/KEY'. Separate with a newline.</p>
        <textarea class='form-control' id='guitar-jpgs' name='jpgs' rows='10' />{{ "\n".join(guitar.jpgs) }}</textarea>
    </div>
</fieldset>
