<fieldset>
    <legend>New Guitar</legend>
    <!-- TITLE -->
    <p>
        <label for='Guitar-title'>Guitar Make/Model: </label><br>
        <input id='Guitar-title' type='text' name='title' />
    </p>
    <!-- TYPE (Electric/Acoustic) -->
    <p>
        <label for='Guitar-type'> Type of Guitar (electric or acoustic?): </label><br>
        <input id='Guitar-type' type='text' name='description' />
    </p>
    <!-- DESCRIPTION -->
    <p>
        <label for='Guitar-price'>Price of Guitar: </label><br>
        <input id='Guitar-price' type='text' name='price' value="{{ guitar.price }}" />
    </p>

    <!-- Image URL -->
    <div class='form-group'>
        <label for='jpgs'>JPGS</label><br/>
        <p class='text-muted'>Add URL to jpgs. Separate with a new line.</p>
        <input id="jpgs" type="text" name="jpgs" value="{{ guitar.jpgs }}"/>
    </div>
</fieldset>
