{% extends 'base.html' %}

{% block content %}

<p>
<h1 class="text-center">Welcome to Vintage Guitars!</h1>
<br>
<img src = "http://3.bp.blogspot.com/_j4BtNPDctE4/Sm1-TO9HXWI/AAAAAAAAAHw/8MTUGNrZAVc/s320/Guitar_by_BluesBoyBurb.jpg"/>

<h2 class="text-center">The purpose of this page is to list the instruments you want to sell on consignment in our physical store.</h2>
<br>
<h3>Please click the 'Enter a New Guitar To Sell Button and follow the instructions, tnen bring your guitar on down to the store and we'll take care of the rest!</h3>
<br>
<h3>Click on the 'Electric' or 'Acoustic' field to view items in our current inventory.</h3>
</p>


{% endblock %}
