{% extends 'base.html' %}

{% block content %}
<p>
<title> Acoustic Guitars </title>
</p>
<p>
<h1> Washburn Revival USA - $900 </h1>
<h2> Custom Solo Dreadnought Guitar,
    Natural Satin with Solid Mahogany Back & Sides </h2>
<img src = https://www.adorama.com/images/Large/wbrsd135.jpg />
</p>
<p>
<h1> Martin 000-15M - Natural - $750 </h1>
<h2> 6-string Acoustic Guitar with Mahogany Top, Mahogany Back and Sides,
Mahogany Neck, and Rosewood Fingerboard - Natural </h2>
<img src = https://www.martinguitar.com/media/8309/000-15m-burst_f.jpg />
</p>
<p>
<h1> Taylor Grand Concert 12-fret Custom - Natural - $999 </h1>
<h2> 6-string Acoustic-electric Guitar with AA Koa Top, AA Koa Back and Sides,
    Mahogany Neck, Ebony Fingerboard, and ES2 Electronics - Natural </h2>
<img src = https://www.rainbowguitars.com/imagesproduct/to/tobto4898-xl-02.jpg />
</p>

{% endblock %}
