{% extends 'base.html' %}

{% block content %}
<title> Acoustic Guitars </title>
<p>
<title> Gibson SG Standard '61 Maestro Vibrola - Vintage Cherry </title>
    <ht> Solidbody Electric Guitar with Mahogany Body and Neck, Rosewood Fretboard,
        2 Humbucking Pickups, and Vibrola Tailpiece - Vintage Cherry </h1>
<img src = https://media.sweetwater.com/api/i/f-webp__q-82__ha-902157bc5494490e__hmac-85ee1fd357633919c0aa59efc6327e96bc782deb/images/guitars/SG61VVENH/124890022/124890022-body-large.jpg />
</p>
<p>
<title> Fender Sandblasted Stratocaster  </title>
<h2> Solidbody Electric Guitar with Ash Body, Maple Neck, Rosewood Fingerboard,
    and 3 Single-coil Pickups - 3-tone Sunburst </h2>
<img src = https://media.sweetwater.com/api/i/f-webp__q-82__ha-f921840fa3e808ae__hmac-da21509cfa27a1be5b2aa33187566dab48519bbb/images/guitars/StratSBR3TSB/US19083589/US19083589-body-large.jpg />
</p>
<p>
<title> Epiphone Les Paul Standard Plustop Pro - Heritage Cherry Sunburst </title>
<h3> Solidbody Electric Guitar with Mahogany Body, Flame Maple Veneer Top,
    Mahogany Neck, Pau Ferro Fingerboard, and 2 Humbucking Pickups - Heritage Cherry </h3>
    <img src = https://media.sweetwater.com/api/i/f-webp__q-82__ha-f921840fa3e808ae__hmac-da21509cfa27a1be5b2aa33187566dab48519bbb/images/guitars/StratSBR3TSB/US19083589/US19083589-body-large.jpg />
</p>

{% endblock %}
