<!-- templates/Guitars_new.html -->
{% extends 'base.html' %}

{% block content %}
<form method='POST' action='/Guitars'>
    <fieldset>
        <legend>New Guitar</legend>
        <!-- TITLE -->
        <p>
            <label for='Guitar-title'>Enter Guitar Brand Name</label><br>
            <input id='Guitar-title' type='text' name='title' />
        </p>

        <!-- DESCRIPTION -->
        <p>
            <label for='description'>Description</label><br>
            <input id='description' type='text' name='description' />
        </p>
    </fieldset>

    <!-- BUTTON -->
    <p>
        <button type='submit'>Find Guitar</button>
    </p>
</form>
{% endblock %}
