<!-- templates/guitars_index.html -->
{% extends 'base.html' %}

{% block content %}
<h1>Discount Guitars</h1>

{% include 'partials/navbar.html' %}

<a href='/guitars/new'>Enter A New Guitar to Sell</a>

{% for guitar in guitars %}
    <h1>{{ guitar.title }}</h1>
    <small>{{ guitar.description }}</small>
    <h2> {{ guitar.price }} </h2>
    <img src = "{{ guitar.jpgs }}">
    <p><form method='POST' action='/guitars/{{ guitar._id }}/edit'>
        <input type='hidden' name='_method' value='EDIT'>
        <button class='btn btn-primary' type='submit'>Edit</button>
    </form></p>
    <p><form method='POST' action='/guitars/{{ guitar._id }}/delete'>
        <input type='hidden' name='_method' value='DELETE'>
        <button class='btn btn-primary' type='submit'>Delete</button>
    </form></p>

{% endfor %}
{% endblock %}
